* {
  box-sizing: border-box;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#memoji {
  width: 50%;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  color: red;
}
